/vc10/ipch
/vc10/CMakeFiles
/vc10/bin
/vc10/src/lib/openjp2/CMakeFiles
/vc10/src/lib/openjp2/*.dir
/vc10/src/lib/CMakeFiles
/vc10/src/bin/CMakeFiles
/vc10/src/bin/common/CMakeFiles
/vc10/Win32
/vc10/thirdparty
/vc10/wrapping
/vc10/*.sdf
/vc10/*.opensdf
/vc10/*.cmake
/vc10/src/bin/common
/vc10/src/lib/*.vcxproj
/vc10/src/lib/*.filters
/vc10/src/bin/*.vcxproj
/vc10/src/bin/*.filters
/vc10/src/bin/wx
/vc10/src/bin/*.cmake
/vc10/src/lib/*.cmake
/vc10/src/bin/jp2/CMakeFiles
/vc10/src/bin/jp2/*.dir
/vc10/src/bin/jp2/*.cmake
/vc10/src/bin/jp2/INSTALL.vcxproj
/vc10/src/bin/jp2/INSTALL.vcxproj.filters
/vc10/src/bin/jp2/PACKAGE.vcxproj
/vc10/src/bin/jp2/PACKAGE.vcxproj.filters
/vc10/src/lib/openjp2/*.cmake
/vc10/src/bin/Debug
/vc10/src/bin/Release
